[remote]
ftp.host = ftp.example.com
ftp.user = example
ftp.pass = example
ftp.path = /example
http.url = www.example.com

[local]
path = /srv/web/example.net
http.url = www.example.net
mysql.host = 127.0.0.1
mysql.user = example
mysql.pass = example
mysql.db = example
